In [1]:
#!/usr/bin/env python
# coding: utf-8

In [2]:
import time
import numpy
import datetime

In [3]:
import pandas as pd

In [4]:
topics = pd.read_csv('topics.csv')

In [5]:
d = {}

ar =topics.to_numpy()

for i in range(len(ar)):
    d[ar[i][0]] = int(sum(ar[i][1:101] ) == 0)
topics2 = pd.DataFrame(d.items(), columns=['topicId', 'text'])
topics2

         topicId  text
0       190991.0     0
1         2718.0     0
2        49923.0     0
3       124548.0     0
4        45289.0     0
...          ...   ...
206327   30555.0     0
206328  111715.0     0
206329   17614.0     0
206330  195949.0     1
206331   37726.0     0

[206332 rows x 2 columns]

In [6]:
idx_tp = set(sorted(topics['topicId'].tolist()))

In [7]:
train = pd.read_csv('train.csv')
top_feed1 = train[train['feedback'] == 'D'].reset_index()

top_feed1 = top_feed1.groupby('topicId')['feedback'].agg(['sum','count']).reset_index()

top_feed1.drop('sum', axis=1, inplace=True)
top_feed1.rename(columns={'count': 'D'}, inplace=True)


top_feed2 = train[train['feedback'] == 'L'].reset_index()

top_feed2 = top_feed2.groupby('topicId')['feedback'].agg(['sum','count']).reset_index()

top_feed2.drop('sum', axis=1, inplace=True)
top_feed2.rename(columns={'count': 'L'}, inplace=True)

top_feed = pd.merge(top_feed1, top_feed2, on="topicId")

top_feed

        topicId      D     L
0             0  54674  2111
1             1  42507  3442
2             2  35830  5044
3             3  39770   594
4             4  37174  2089
...         ...    ...   ...
121107   166713      1     1
121108   166714      1     1
121109   166722      1     1
121110   166726      1     1
121111   166730      1     1

[121112 rows x 3 columns]

In [8]:
top_us1 = train[train['feedback'] == 'D'].reset_index()

top_us1 = top_us1.groupby('userId')['feedback'].agg(['sum','count']).reset_index()

top_us1.drop('sum', axis=1, inplace=True)
top_us1.rename(columns={'count': 'D'}, inplace=True)


top_us2 = train[train['feedback'] == 'L'].reset_index()

top_us2 = top_us2.groupby('userId')['feedback'].agg(['sum','count']).reset_index()

top_us2.drop('sum', axis=1, inplace=True)
top_us2.rename(columns={'count': 'L'}, inplace=True)

top_us = pd.merge(top_us1, top_us2, on="userId")

top_us['stavit_like'] = (top_us['L']/(top_us['L']+top_us['D']))**2
top_us['skolko_stavit'] = top_us['L']+top_us['D']
top_us.drop('D',axis=1,inplace=True)
top_us.drop('L',axis=1,inplace=True)
top_us

          userId  stavit_like  skolko_stavit
0              0     0.592129            859
1              1     0.620691            773
2              2     0.245209            727
3              3     0.385009            693
4              4     0.000423            632
...          ...          ...            ...
2248064  2531608     0.250000              2
2248065  2531609     0.250000              2
2248066  2531611     0.250000              2
2248067  2531612     0.250000              2
2248068  2531613     0.250000              2

[2248069 rows x 3 columns]

In [9]:
users = pd.read_csv('users.csv')

In [10]:
infa = []
for el in (set(users['userId']) - set(top_us['userId'])):
    infa.append( [el,0.25,0])

In [11]:
about_users = pd.DataFrame(infa, columns=['userId','stavit_like','skolko_stavit'])

In [12]:
about_users

         userId  stavit_like  skolko_stavit
0       2097152         0.25              0
1       1048577         0.25              0
2       2097153         0.25              0
3       2097154         0.25              0
4       2097155         0.25              0
...         ...          ...            ...
434183  2097139         0.25              0
434184  2097140         0.25              0
434185  1048565         0.25              0
434186  2097142         0.25              0
434187  2097147         0.25              0

[434188 rows x 3 columns]

In [13]:
top_us

          userId  stavit_like  skolko_stavit
0              0     0.592129            859
1              1     0.620691            773
2              2     0.245209            727
3              3     0.385009            693
4              4     0.000423            632
...          ...          ...            ...
2248064  2531608     0.250000              2
2248065  2531609     0.250000              2
2248066  2531611     0.250000              2
2248067  2531612     0.250000              2
2248068  2531613     0.250000              2

[2248069 rows x 3 columns]

In [14]:
rez_users = pd.concat([top_us,about_users],ignore_index=True)

In [15]:
rez_users

          userId  stavit_like  skolko_stavit
0              0     0.592129            859
1              1     0.620691            773
2              2     0.245209            727
3              3     0.385009            693
4              4     0.000423            632
...          ...          ...            ...
2682252  2097139     0.250000              0
2682253  2097140     0.250000              0
2682254  1048565     0.250000              0
2682255  2097142     0.250000              0
2682256  2097147     0.250000              0

[2682257 rows x 3 columns]

In [16]:
del train
del topics

In [17]:
like_rate = dict()
popularity = dict()
for i,row in top_feed.iterrows():
    idx_tp.remove(row['topicId'])
    like_rate[row['topicId']] = row['L'] / (row['L'] + row['D'])
    popularity[row['topicId']] = (row['L'] + row['D'])

In [18]:
for el in idx_tp:
    like_rate[el] = 0.5
    popularity[el] = 0

In [19]:
like_r = pd.DataFrame(like_rate.items(), columns=['topicId', 'like_rate'])

In [20]:
popular = pd.DataFrame(popularity.items(), columns=['topicId', 'popularity'])

In [21]:
popular.info

<bound method DataFrame.info of         topicId  popularity
0             0       56785
1             1       45949
2             2       40874
3             3       40364
4             4       39263
...         ...         ...
206327   206327           0
206328   206328           0
206329   206329           0
206330   206330           0
206331   206331           0

[206332 rows x 2 columns]>

In [22]:
data = pd.read_csv('train.csv')

In [23]:
import numpy as np

In [24]:
data.reindex(np.random.permutation(data.index))

          topicId   userId feedback
11883658      262  1180522        D
8417332      9493   229212        D
6401070      3894   318308        D
4136768       315  1508050        D
13273051     1196  2493885        D
...           ...      ...      ...
5334517      3228    13594        D
4019580      1518  1835670        L
9115599      6023   167447        L
7860388     20955  2166895        L
5405509       116   370104        D

[14193804 rows x 3 columns]

In [25]:
#data = data.iloc[:9000000]

In [26]:
data.head()

   topicId   userId feedback
0      198  1044368        L
1      154  1044368        L
2        6  1044368        D
3       77  1044368        D
4    81411  2604826        L

In [27]:
data.info

<bound method DataFrame.info of           topicId   userId feedback
0             198  1044368        L
1             154  1044368        L
2               6  1044368        D
3              77  1044368        D
4           81411  2604826        L
...           ...      ...      ...
14193799      231   703677        D
14193800      277  1095615        L
14193801       68  1095615        D
14193802    14621  1095615        L
14193803      203  1095615        D

[14193804 rows x 3 columns]>

In [28]:
data['feedback'] = data['feedback'].apply(lambda x: 1 if x == 'L' else 0)

In [29]:
data.head()

   topicId   userId  feedback
0      198  1044368         1
1      154  1044368         1
2        6  1044368         0
3       77  1044368         0
4    81411  2604826         1

In [30]:
data.info

<bound method DataFrame.info of           topicId   userId  feedback
0             198  1044368         1
1             154  1044368         1
2               6  1044368         0
3              77  1044368         0
4           81411  2604826         1
...           ...      ...       ...
14193799      231   703677         0
14193800      277  1095615         1
14193801       68  1095615         0
14193802    14621  1095615         1
14193803      203  1095615         0

[14193804 rows x 3 columns]>

In [31]:
users = pd.read_csv('users.csv')

In [32]:
users.head(50)
users['birthDate'] = users['birthDate'].fillna(8.581633e+08)

In [33]:
users['birthDate'] = users['birthDate'].apply(lambda x: int(float(abs(x))) if x >=0 else -int(float(abs(x))) )

In [34]:
def convert_time(date):
    return datetime.datetime(1970, 1, 1) + datetime.timedelta(milliseconds=date)

In [35]:
users['birthDate'] = users['birthDate'].apply(lambda x: convert_time(x))

In [36]:
def days_cnt(a):
    today = datetime.datetime(int(a[:4]),int(a[5:7]),int(a[8:10]))
    someday = datetime.datetime(1899, 1, 1)
    diff =   today-someday
    return diff.days

In [37]:
users['birthDate'] = users['birthDate'].apply(lambda x: days_cnt(str(x)))

In [38]:
import numpy as np

In [39]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.05)
    q3 = df_in[col_name].quantile(0.95)
    median = df_in[col_name].median()
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    def check_outlier(el):
        if el < fence_low or el >fence_high :
            return median
        return el
    df_in[col_name] = df_in[col_name].apply(lambda x:check_outlier(x) )
    return df_in
df = remove_outlier(users,'birthDate')
del users

In [40]:
min(df['birthDate'])

364

In [41]:
df['birthDate'] =df['birthDate'].apply(lambda x: x-10959)

In [42]:
max(df['birthDate'])

32372

In [43]:
#user_inf = dict()
#for i,row in df.iterrows():
#    user_inf[row['userId']] = [row['birthDate'],row['gender'],row['locationId']]

In [44]:
#check = 0
#for k,v in user_inf.items():
#    print(k,v)
#    if check == 10:
#        break
#    check += 1

In [45]:
df.head()

    userId  birthDate  gender  locationId
0  2019458      18653       2     5697551
1    96675       8658       2    12141127
2  1378979      20396       1    12141421
3   540187      19600       1     4126402
4  1182831      15053       2     2955426

In [46]:
result = data.merge(df, how='left', on="userId", sort=False)
result = result.merge(like_r, how='left', on="topicId", sort=False)
result = result.merge(popular, how='left', on="topicId", sort=False)
result = result.merge(rez_users, how='left', on="userId", sort=False)

result = result.merge(topics2, how='left', on="topicId", sort=False)

In [47]:
del data

In [48]:
result.head()

,topicId,userId,feedback,birthDate,gender,locationId,like_rate,popularity,stavit_like,skolko_stavit,text
0,198,1044368,1,9149,2,14882721,0.272987,7700,0.25,4,0
1,154,1044368,1,9149,2,14882721,0.403545,9253,0.25,4,0
2,6,1044368,0,9149,2,14882721,0.125470,37539,0.25,4,0
3,77,1044368,0,9149,2,14882721,0.205886,14304,0.25,4,0
4,81411,2604826,1,13380,1,2114999,0.500000,0,0.25,0,0

result.info

In [49]:
from catboost import Pool, CatBoostClassifier,CatBoostRegressor

In [50]:

result.drop('topicId',axis=1,inplace=True)
result.drop('locationId',axis=1,inplace=True)

In [51]:
result['gender'] =result['gender'].apply(lambda x: x-1)

In [52]:
result.head()

,userId,feedback,birthDate,gender,like_rate,popularity,stavit_like,skolko_stavit,text
0,1044368,1,9149,1,0.272987,7700,0.25,4,0
1,1044368,1,9149,1,0.403545,9253,0.25,4,0
2,1044368,0,9149,1,0.125470,37539,0.25,4,0
3,1044368,0,9149,1,0.205886,14304,0.25,4,0
4,2604826,1,13380,0,0.500000,0,0.25,0,0

In [53]:
train_labels = result['feedback'].values.tolist()

In [54]:
result.drop('feedback',axis=1,inplace=True)

In [55]:
result.head()

,userId,birthDate,gender,like_rate,popularity,stavit_like,skolko_stavit,text
0,1044368,9149,1,0.272987,7700,0.25,4,0
1,1044368,9149,1,0.403545,9253,0.25,4,0
2,1044368,9149,1,0.125470,37539,0.25,4,0
3,1044368,9149,1,0.205886,14304,0.25,4,0
4,2604826,13380,0,0.500000,0,0.25,0,0

In [56]:
cat_features = ['userId']
embedding_features = ['text']

In [57]:
result.drop('skolko_stavit',axis=1,inplace=True)
result.drop('stavit_like',axis=1,inplace=True)
result.drop('text',axis=1,inplace=True)

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
X_train, X_test, y_train, y_test = train_test_split(result, train_labels, test_size=0.25, random_state=555)

In [60]:
del result

In [61]:
train_dataset = Pool(data=X_train,
                     label=y_train,
                    cat_features=cat_features)
#                   embedding_features=embedding_features)

In [62]:
eval_dataset = Pool(data=X_test[10000:],
                    label=y_test[10000:],
                    cat_features=cat_features)
#                   embedding_features=embedding_features)

In [105]:
model = CatBoostRegressor(iterations=200,
                           learning_rate=0.3,
                           task_type='GPU',
                           depth=10,
                          leaf_estimation_method='Gradient',
                           cat_features=cat_features)

In [64]:
test = pd.read_csv('test.csv')

In [65]:

test_read = test.merge(test.merge(df, how='left', on='userId', sort=False))
test_read = test_read.merge(rez_users, how='left', on="userId", sort=False)
test_read = test_read.merge(like_r, how='left', on='topicId', sort=False)
test_read = test_read.merge(popular, how='left', on='topicId', sort=False)
test_read = test_read.merge(topics2, how='left', on="topicId", sort=False)
test_read.drop('topicId',axis=1,inplace=True)
test_read.drop('locationId',axis=1,inplace=True)
test_read['gender'] =test_read['gender'].apply(lambda x: x-1)
test_read.drop('skolko_stavit',axis=1,inplace=True)
test_read.drop('stavit_like',axis=1,inplace=True)
del popular
del like_r
test_read.head()

   userId  birthDate  gender  like_rate  popularity  text
0    7056      11914       1   0.477444         266     0
1    7056      11914       1   0.974175         697     0
2    7056      11914       1   0.895833          48     0
3    7056      11914       1   0.797753          89     0
4    7056      11914       1   0.531073         177     0

In [66]:
test_read.head()

   userId  birthDate  gender  like_rate  popularity  text
0    7056      11914       1   0.477444         266     0
1    7056      11914       1   0.974175         697     0
2    7056      11914       1   0.895833          48     0
3    7056      11914       1   0.797753          89     0
4    7056      11914       1   0.531073         177     0

In [67]:
test_read.drop('text',axis=1,inplace=True)

In [68]:
X_train.head()

          userId  birthDate  gender  like_rate  popularity
11549474    4606       8625       0   0.928571          28
13049100   80882      20085       0   0.766667          60
7106183   400616      12204       1   0.784646        2006
7777538   186365      25777       1   0.725441         794
2329573   180074       9913       0   0.950995         653

In [69]:
del test

In [70]:
test_read.head()

   userId  birthDate  gender  like_rate  popularity
0    7056      11914       1   0.477444         266
1    7056      11914       1   0.974175         697
2    7056      11914       1   0.895833          48
3    7056      11914       1   0.797753          89
4    7056      11914       1   0.531073         177

In [106]:
model.fit(train_dataset)

0:	learn: 0.4562789	total: 416ms	remaining: 1m 22s
1:	learn: 0.4329070	total: 758ms	remaining: 1m 15s
2:	learn: 0.4208681	total: 1.1s	remaining: 1m 12s
3:	learn: 0.4093472	total: 1.43s	remaining: 1m 9s
4:	learn: 0.4033132	total: 1.72s	remaining: 1m 6s
5:	learn: 0.3978975	total: 2.01s	remaining: 1m 4s
6:	learn: 0.3939151	total: 2.37s	remaining: 1m 5s
7:	learn: 0.3910317	total: 2.64s	remaining: 1m 3s
8:	learn: 0.3884978	total: 2.94s	remaining: 1m 2s
9:	learn: 0.3865037	total: 3.29s	remaining: 1m 2s
10:	learn: 0.3844894	total: 3.68s	remaining: 1m 3s
11:	learn: 0.3829438	total: 3.98s	remaining: 1m 2s
12:	learn: 0.3801410	total: 4.4s	remaining: 1m 3s
13:	learn: 0.3785583	total: 4.64s	remaining: 1m 1s
14:	learn: 0.3771440	total: 5.05s	remaining: 1m 2s
15:	learn: 0.3759807	total: 5.31s	remaining: 1m 1s
16:	learn: 0.3746962	total: 5.68s	remaining: 1m 1s
17:	learn: 0.3736847	total: 5.93s	remaining: 60s
18:	learn: 0.3732871	total: 6.28s	remaining: 59.8s
19:	learn: 0.3722845	total: 6.58s	remaining: 59.3s
20:	learn: 0.3718449	total: 6.89s	remaining: 58.7s
21:	learn: 0.3713794	total: 7.16s	remaining: 57.9s
22:	learn: 0.3708973	total: 7.46s	remaining: 57.4s
23:	learn: 0.3704665	total: 7.8s	remaining: 57.2s
24:	learn: 0.3700288	total: 8.19s	remaining: 57.3s
25:	learn: 0.3696990	total: 8.54s	remaining: 57.1s
26:	learn: 0.3691558	total: 8.79s	remaining: 56.3s
27:	learn: 0.3688264	total: 9.15s	remaining: 56.2s
28:	learn: 0.3684979	total: 9.42s	remaining: 55.5s
29:	learn: 0.3683668	total: 9.7s	remaining: 55s
30:	learn: 0.3679203	total: 9.95s	remaining: 54.2s
31:	learn: 0.3676004	total: 10.2s	remaining: 53.5s
32:	learn: 0.3671307	total: 10.5s	remaining: 53.4s
33:	learn: 0.3669082	total: 10.9s	remaining: 53.2s
34:	learn: 0.3665825	total: 11.3s	remaining: 53.5s
35:	learn: 0.3661591	total: 11.8s	remaining: 53.6s
36:	learn: 0.3659522	total: 12s	remaining: 52.9s
37:	learn: 0.3656322	total: 12.5s	remaining: 53.1s
38:	learn: 0.3654526	total: 12.7s	remaining: 52.6s
39:	learn: 0.3652602	total: 13s	remaining: 52s
40:	learn: 0.3650306	total: 13.4s	remaining: 51.8s
41:	learn: 0.3648745	total: 13.6s	remaining: 51.2s
42:	learn: 0.3647244	total: 14.1s	remaining: 51.4s
43:	learn: 0.3644457	total: 14.3s	remaining: 50.8s
44:	learn: 0.3640421	total: 14.6s	remaining: 50.2s
45:	learn: 0.3638227	total: 15s	remaining: 50.1s
46:	learn: 0.3636589	total: 15.2s	remaining: 49.5s
47:	learn: 0.3635566	total: 15.5s	remaining: 48.9s
48:	learn: 0.3634175	total: 15.9s	remaining: 49s
49:	learn: 0.3633668	total: 16.3s	remaining: 48.9s
50:	learn: 0.3631075	total: 16.8s	remaining: 49s
51:	learn: 0.3628304	total: 17.2s	remaining: 49s
52:	learn: 0.3625612	total: 17.5s	remaining: 48.6s
53:	learn: 0.3624591	total: 17.8s	remaining: 48.2s
54:	learn: 0.3622045	total: 18.2s	remaining: 47.9s
55:	learn: 0.3620828	total: 18.5s	remaining: 47.5s
56:	learn: 0.3619408	total: 18.8s	remaining: 47.2s
57:	learn: 0.3618843	total: 19.2s	remaining: 47s
58:	learn: 0.3617325	total: 19.5s	remaining: 46.7s
59:	learn: 0.3615746	total: 19.8s	remaining: 46.3s
60:	learn: 0.3613926	total: 20.2s	remaining: 45.9s
61:	learn: 0.3613108	total: 20.5s	remaining: 45.6s
62:	learn: 0.3612152	total: 20.9s	remaining: 45.4s
63:	learn: 0.3611060	total: 21.1s	remaining: 44.9s
64:	learn: 0.3608730	total: 21.4s	remaining: 44.5s
65:	learn: 0.3606915	total: 21.8s	remaining: 44.3s
66:	learn: 0.3606182	total: 22.1s	remaining: 43.8s
67:	learn: 0.3605161	total: 22.4s	remaining: 43.5s
68:	learn: 0.3603678	total: 22.8s	remaining: 43.3s
69:	learn: 0.3602833	total: 23.2s	remaining: 43s
70:	learn: 0.3601974	total: 23.4s	remaining: 42.6s
71:	learn: 0.3601798	total: 23.8s	remaining: 42.3s
72:	learn: 0.3600914	total: 24.1s	remaining: 41.9s
73:	learn: 0.3599456	total: 24.3s	remaining: 41.4s
74:	learn: 0.3597853	total: 24.6s	remaining: 40.9s
75:	learn: 0.3596881	total: 24.8s	remaining: 40.5s
76:	learn: 0.3596277	total: 25.1s	remaining: 40.1s
77:	learn: 0.3595249	total: 25.5s	remaining: 39.8s
78:	learn: 0.3594245	total: 25.8s	remaining: 39.4s
79:	learn: 0.3593752	total: 26.1s	remaining: 39.2s
80:	learn: 0.3593077	total: 26.5s	remaining: 38.9s
81:	learn: 0.3592538	total: 26.8s	remaining: 38.5s
82:	learn: 0.3591945	total: 27.1s	remaining: 38.2s
83:	learn: 0.3591473	total: 27.4s	remaining: 37.9s
84:	learn: 0.3590898	total: 27.8s	remaining: 37.6s
85:	learn: 0.3590533	total: 28.1s	remaining: 37.3s
86:	learn: 0.3589545	total: 28.4s	remaining: 36.9s
87:	learn: 0.3589126	total: 28.8s	remaining: 36.6s
88:	learn: 0.3588605	total: 29.2s	remaining: 36.4s
89:	learn: 0.3587936	total: 29.6s	remaining: 36.2s
90:	learn: 0.3587557	total: 29.9s	remaining: 35.8s
91:	learn: 0.3587133	total: 30.2s	remaining: 35.5s
92:	learn: 0.3586680	total: 30.5s	remaining: 35.1s
93:	learn: 0.3585602	total: 30.8s	remaining: 34.7s
94:	learn: 0.3584875	total: 31.1s	remaining: 34.3s
95:	learn: 0.3583813	total: 31.3s	remaining: 34s
96:	learn: 0.3583455	total: 31.7s	remaining: 33.7s
97:	learn: 0.3582650	total: 32.1s	remaining: 33.4s
98:	learn: 0.3581941	total: 32.3s	remaining: 33s
99:	learn: 0.3581583	total: 32.6s	remaining: 32.6s
100:	learn: 0.3580838	total: 32.9s	remaining: 32.2s
101:	learn: 0.3580273	total: 33.3s	remaining: 32s
102:	learn: 0.3579928	total: 33.6s	remaining: 31.7s
103:	learn: 0.3579633	total: 33.9s	remaining: 31.3s
104:	learn: 0.3579334	total: 34.2s	remaining: 30.9s
105:	learn: 0.3579022	total: 34.5s	remaining: 30.6s
106:	learn: 0.3578746	total: 34.9s	remaining: 30.3s
107:	learn: 0.3578347	total: 35.2s	remaining: 30s
108:	learn: 0.3577732	total: 35.5s	remaining: 29.6s
109:	learn: 0.3577348	total: 35.8s	remaining: 29.3s
110:	learn: 0.3577065	total: 36s	remaining: 28.9s
111:	learn: 0.3576557	total: 36.3s	remaining: 28.5s
112:	learn: 0.3575941	total: 36.7s	remaining: 28.3s
113:	learn: 0.3575506	total: 37s	remaining: 27.9s
114:	learn: 0.3574564	total: 37.4s	remaining: 27.7s
115:	learn: 0.3574045	total: 37.7s	remaining: 27.3s
116:	learn: 0.3573339	total: 38s	remaining: 27s
117:	learn: 0.3572448	total: 38.4s	remaining: 26.7s
118:	learn: 0.3572184	total: 38.8s	remaining: 26.4s
119:	learn: 0.3571552	total: 39.1s	remaining: 26s
120:	learn: 0.3571289	total: 39.4s	remaining: 25.7s
121:	learn: 0.3570680	total: 39.6s	remaining: 25.3s
122:	learn: 0.3569849	total: 39.9s	remaining: 25s
123:	learn: 0.3569581	total: 40.2s	remaining: 24.7s
124:	learn: 0.3569313	total: 40.6s	remaining: 24.3s
125:	learn: 0.3568925	total: 40.9s	remaining: 24s
126:	learn: 0.3568443	total: 41.2s	remaining: 23.7s
127:	learn: 0.3567695	total: 41.4s	remaining: 23.3s
128:	learn: 0.3567391	total: 41.8s	remaining: 23s
129:	learn: 0.3567148	total: 42.1s	remaining: 22.7s
130:	learn: 0.3566987	total: 42.5s	remaining: 22.4s
131:	learn: 0.3566580	total: 42.8s	remaining: 22s
132:	learn: 0.3566298	total: 43.1s	remaining: 21.7s
133:	learn: 0.3566084	total: 43.5s	remaining: 21.4s
134:	learn: 0.3565660	total: 43.8s	remaining: 21.1s
135:	learn: 0.3565385	total: 44.2s	remaining: 20.8s
136:	learn: 0.3565140	total: 44.5s	remaining: 20.5s
137:	learn: 0.3564968	total: 44.9s	remaining: 20.2s
138:	learn: 0.3564299	total: 45.1s	remaining: 19.8s
139:	learn: 0.3563622	total: 45.5s	remaining: 19.5s
140:	learn: 0.3563390	total: 45.9s	remaining: 19.2s
141:	learn: 0.3563238	total: 46.3s	remaining: 18.9s
142:	learn: 0.3562656	total: 46.6s	remaining: 18.6s
143:	learn: 0.3562075	total: 46.9s	remaining: 18.2s
144:	learn: 0.3562010	total: 47.3s	remaining: 17.9s
145:	learn: 0.3561603	total: 47.6s	remaining: 17.6s
146:	learn: 0.3561251	total: 48s	remaining: 17.3s
147:	learn: 0.3560657	total: 48.2s	remaining: 16.9s
148:	learn: 0.3560321	total: 48.5s	remaining: 16.6s
149:	learn: 0.3560107	total: 48.9s	remaining: 16.3s
150:	learn: 0.3559864	total: 49.2s	remaining: 16s
151:	learn: 0.3559746	total: 49.6s	remaining: 15.7s
152:	learn: 0.3559324	total: 49.9s	remaining: 15.3s
153:	learn: 0.3558946	total: 50.2s	remaining: 15s
154:	learn: 0.3558581	total: 50.5s	remaining: 14.6s
155:	learn: 0.3558285	total: 50.9s	remaining: 14.3s
156:	learn: 0.3558037	total: 51.3s	remaining: 14s
157:	learn: 0.3557753	total: 51.7s	remaining: 13.7s
158:	learn: 0.3557411	total: 51.9s	remaining: 13.4s
159:	learn: 0.3557164	total: 52.3s	remaining: 13.1s
160:	learn: 0.3556812	total: 52.7s	remaining: 12.8s

161:	learn: 0.3556647	total: 53s	remaining: 12.4s
162:	learn: 0.3556514	total: 53.3s	remaining: 12.1s
163:	learn: 0.3556183	total: 53.6s	remaining: 11.8s
164:	learn: 0.3555963	total: 53.9s	remaining: 11.4s
165:	learn: 0.3555599	total: 54.2s	remaining: 11.1s
166:	learn: 0.3555396	total: 54.4s	remaining: 10.8s
167:	learn: 0.3555023	total: 54.8s	remaining: 10.4s
168:	learn: 0.3554878	total: 55.1s	remaining: 10.1s
169:	learn: 0.3554447	total: 55.4s	remaining: 9.77s
170:	learn: 0.3554078	total: 55.7s	remaining: 9.44s
171:	learn: 0.3553860	total: 55.9s	remaining: 9.11s
172:	learn: 0.3553534	total: 56.3s	remaining: 8.78s
173:	learn: 0.3553450	total: 56.6s	remaining: 8.46s
174:	learn: 0.3552953	total: 56.9s	remaining: 8.13s
175:	learn: 0.3552789	total: 57.2s	remaining: 7.8s
176:	learn: 0.3552640	total: 57.5s	remaining: 7.47s
177:	learn: 0.3552481	total: 57.8s	remaining: 7.14s
178:	learn: 0.3552434	total: 58.2s	remaining: 6.82s
179:	learn: 0.3552326	total: 58.5s	remaining: 6.5s
180:	learn: 0.3551971	total: 58.9s	remaining: 6.19s
181:	learn: 0.3551762	total: 59.2s	remaining: 5.86s
182:	learn: 0.3551562	total: 59.5s	remaining: 5.53s
183:	learn: 0.3551030	total: 59.8s	remaining: 5.2s
184:	learn: 0.3550911	total: 1m	remaining: 4.88s
185:	learn: 0.3550746	total: 1m	remaining: 4.56s
186:	learn: 0.3550493	total: 1m	remaining: 4.23s
187:	learn: 0.3550315	total: 1m 1s	remaining: 3.91s
188:	learn: 0.3550168	total: 1m 1s	remaining: 3.58s
189:	learn: 0.3549895	total: 1m 1s	remaining: 3.26s
190:	learn: 0.3549361	total: 1m 2s	remaining: 2.93s
191:	learn: 0.3549227	total: 1m 2s	remaining: 2.6s
192:	learn: 0.3549055	total: 1m 2s	remaining: 2.28s
193:	learn: 0.3548794	total: 1m 3s	remaining: 1.95s
194:	learn: 0.3548552	total: 1m 3s	remaining: 1.62s
195:	learn: 0.3548377	total: 1m 3s	remaining: 1.3s
196:	learn: 0.3548115	total: 1m 3s	remaining: 974ms
197:	learn: 0.3547963	total: 1m 4s	remaining: 649ms
198:	learn: 0.3547853	total: 1m 4s	remaining: 324ms
199:	learn: 0.3547771	total: 1m 4s	remaining: 0us

In [107]:
testing_dataset = Pool(data=X_test[:10000],
                    label=y_test[:10000],
                    cat_features=cat_features)
#                   embedding_features=embedding_features
preds_class = model.predict(testing_dataset)

In [108]:
preds_class[:50]

array([ 0.44075358,  0.98057892,  0.39739591,  0.78741358,  1.03492621,
        0.99928556,  0.73981845,  0.80627444,  0.10399244,  0.80248843,
        0.3026183 , -0.02103755,  0.04313963,  0.67493056,  0.9680758 ,
        0.75643954,  0.89367225,  0.75686172,  0.05149152,  0.94945164,
        0.9901769 ,  0.68696422, -0.10777485,  0.7606626 , -0.01445819,
        0.02181224,  0.53927523,  0.18319215,  0.89407353,  0.08031692,
        0.87185521,  0.40471099,  0.07907604,  0.70199753,  0.64443   ,
        0.97014937,  0.14728026,  0.97323002,  0.15523272,  0.12094784,
        0.05696921,  0.04302703,  1.05637189,  0.02355968,  0.13552956,
        0.17729378,  0.125334  ,  0.4295531 ,  0.61737106,  0.04448732])

In [109]:
preds_class = [int(el >= 0.5) for el in preds_class]

In [110]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [111]:
accuracy_score(y_test[:10000], preds_class)

0.8354

In [112]:
test_read.info

<bound method DataFrame.info of           userId  birthDate  gender  like_rate  popularity
0           7056      11914       1   0.477444         266
1           7056      11914       1   0.974175         697
2           7056      11914       1   0.895833          48
3           7056      11914       1   0.797753          89
4           7056      11914       1   0.531073         177
...          ...        ...     ...        ...         ...
1578797   468755      13022       1   0.846863        3905
1578798   692556      16832       1   0.953125          64
1578799  1078639       7389       1   0.186501        3630
1578800   184614       8704       0   0.082103        1084
1578801   184614       8704       0   0.736842          76

[1578802 rows x 5 columns]>

In [113]:
test_read.head()

   userId  birthDate  gender  like_rate  popularity
0    7056      11914       1   0.477444         266
1    7056      11914       1   0.974175         697
2    7056      11914       1   0.895833          48
3    7056      11914       1   0.797753          89
4    7056      11914       1   0.531073         177

In [114]:
test_pred = []
l= 0
for r in range(10000,1578802,10000):
    check_test = Pool(data=test_read.iloc[l:r],
                     cat_features=cat_features)
    l = r
    for el in model.predict(check_test):
        test_pred.append(int(el >= 0.5))
    print(len(test_pred))
check_test = Pool(data=test_read.iloc[1570000:],
                     cat_features=cat_features)
for el in model.predict(check_test):
    test_pred.append(int(el >= 0.5))
print(len(test_pred))

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1578802

In [80]:
#super_test = Pool(data=test_read,
#                    cat_features=cat_features)
#                   embedding_features=embedding_features)

In [81]:
for i in range()

SyntaxError: invalid syntax (1816844243.py, line 1)

In [ ]:
#test_pred = model.predict(super_test)

In [115]:
print(test_pred[:100])

[0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1]

In [121]:
def return_name(el):
    if el  >= 0.5:
        return 'L'
    return 'D'

In [122]:
rez_test = [return_name(el) for el in test_pred ]

In [123]:
rez_test[:100]

['D',
 'L',
 'L',
 'L',
 'D',
 'D',
 'D',
 'L',
 'L',
 'D',
 'D',
 'D',
 'L',
 'D',
 'D',
 'D',
 'L',
 'L',
 'L',
 'D',
 'L',
 'L',
 'L',
 'L',
 'D',
 'L',
 'L',
 'D',
 'L',
 'D',
 'L',
 'L',
 'D',
 'D',
 'D',
 'D',
 'D',
 'L',
 'L',
 'L',
 'D',
 'L',
 'D',
 'D',
 'L',
 'L',
 'D',
 'D',
 'D',
 'L',
 'L',
 'L',
 'D',
 'L',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'L',
 'L',
 'D',
 'L',
 'D',
 'L',
 'D',
 'D',
 'L',
 'D',
 'L',
 'D',
 'L',
 'D',
 'L',
 'D',
 'D',
 'L',
 'L',
 'L',
 'D',
 'L',
 'L',
 'L',
 'L',
 'D',
 'L',
 'D',
 'D',
 'L',
 'D',
 'L',
 'L',
 'L',
 'L',
 'D',
 'D',
 'L']

In [124]:
with open('send.txt','w') as f:
    for el in rez_test:
        f.write(el+'\n')

In [125]:
print(len(rez_test))

1578802